body {
    color: #4a4a4a;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* Common */

.bg-gray {
    background-color: #d8d8d8;
}

.padding-16 {
    padding-top: 16px;
    padding-left: 16px;
}

.margin-bottom-32 {
    margin-bottom: 32px;
}

.padding-lr-24 {
    padding: 0 24px;
}

.margin-left-24 {
    margin-left: 24px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.custom-padding-1-2 {
    padding: 32px 0 32px 24px;
}

.margin-top-32 {
    margin-top: 32px;
}

.clear-padding {
    padding: 0;
}

.hr2 {
    position: relative;
    bottom: 64px;
}

/* Nav bar */
a {
    text-decoration: none;
}

.nav-list {
    display: flex;

}

.nav-item {
    margin-left: 16px;
    list-style-type: none;

}

.menu-bar {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div img {
    display: inline;
    padding: 0;
    margin: 0;
}

nav div h3 {
    display: inline;
    padding: 0;
    margin: 0;
}

.font-size {
    font-size: 32px;
}

.text-color {
    color: #4a4a4a;
}

/* Section 1 */

button {
    width: 100%;
    padding: 8px 0;
    border: none;
}

.bg-brown {
    background-color: #4a4a4a;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

/* Section 2 */

.custom-line-height {
    line-height: 1.2;
}

.custom-padding-3 {
    padding: 32px 72px;
}

.custom-padding-3 h1 {
    padding-bottom: 32px;
}

.custom-margin-bottom-24 {
    margin-bottom: 24px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-tbl-16 {
    margin: 16px 0 16px 16px;
}

.margin-blr-16 {
    margin: 0 16px 16px 16px;
}

.margin-left-12 {
    margin-left: 12px;
}

.padding-tbl-16 {
    padding: 16px 0 16px 16px;
}

.padding-tb-32 {
    padding: 32px 0;
}

.border-top {
    border-top: 1px solid #e0e2e2;
}

.hr {
    color: #e0e2e2;
    position: relative;
    bottom: 16px;
}

.custom-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.border-vertical {
    border-left: 1px solid #e0e2e2;
}

.custom-position-1 {
    position: relative;
    bottom: 48px;
    right: 16px;
}

.custom-position-2 {
    position: relative;
    bottom: 80px;
    right: 16px;
}


/* Section 3 */
.padding-72 {
    padding-left: 72px;
    padding-right: 72px;
}

.margin-right-32 {
    margin-right: 32px;
}

.margin-left-32 {
    margin-left: 32px;
}

.custom-background {
    background-color: #eaebec;
}

.section3 {
    position: relative;
    bottom: 64px;
}


/* Section 4 */
.section4-h3 {
    margin-top: 24px;
    margin-bottom: 8px;
}

.padding-bottom-16 {
    padding-bottom: 16px;
}

.padding-lr-16 {
    padding: 0 16px;
}

.section4 {
    position: relative;
    bottom: 64px;
}

/* Footer */
.footer {
    position: relative;
    bottom: 64px;
}